/* HomeLayout Styles */

.home-layout .home-layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Remove default padding for homepage */
.home-layout main {
  padding: 0;
}

/* Ensure sections can be full width */
.home-layout-wrapper > * {
  width: 100%;
}