.docPage {
  flex: 1;
  display: flex;
  width: 100%;
  /* Remove overflow: hidden to allow natural scrolling */
}

.docLayout {
  display: flex;
  width: 100%;
  /* Use min-height instead of fixed height */
  min-height: calc(100vh - var(--ifm-navbar-height));
  position: relative;
}

/* Mobile responsive */
@media (min-width: 997px) {
  .docLayout {
    /* Adjust for dynamic navbar height */
    min-height: calc(100vh - var(--ifm-navbar-height));
  }
}

/* Allow scrolling on mobile */
@media (max-width: 996px) {
  .docPage {
    overflow: visible;
  }
  
  .docLayout {
    height: auto;
    min-height: calc(100vh - var(--ifm-navbar-height));
  }
}