.docPage {
  flex: 1;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.docLayout {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--ifm-navbar-height));
  position: relative;
}

/* Mobile responsive - navbar height adjustment */
@media (min-width: 997px) {
  .docLayout {
    height: calc(100vh - var(--doc-navbar-height));
  }
}

/* Allow scrolling on mobile */
@media (max-width: 996px) {
  .docPage {
    overflow: visible;
  }
  
  .docLayout {
    height: auto;
    min-height: calc(100vh - var(--ifm-navbar-height));
  }
}