openapi: 3.0.3
info:
  title: Neuralock Server API
  description: Distributed key management API for threshold encryption
  version: 1.0.0
  contact:
    name: Neuralock Support
    email: support@neuralock.io
    url: https://docs.neuralock.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.neuralock.io/api/v1
    description: Production server
  - url: https://testnet.neuralock.io/api/v1
    description: Testnet server
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Session
    description: Session management endpoints
  - name: Encryption
    description: Share storage operations
  - name: Decryption
    description: Share retrieval operations
  - name: Info
    description: Server information
  - name: Health
    description: Health and monitoring

paths:
  /session/create:
    post:
      tags:
        - Session
      summary: Create ephemeral session
      description: Creates a new ephemeral session for authenticated operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCreateRequest'
      responses:
        '200':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /session/validate/{ephemeral_public_key}:
    get:
      tags:
        - Session
      summary: Validate session
      description: Checks if a session is valid and returns details
      parameters:
        - $ref: '#/components/parameters/EphemeralPublicKey'
      responses:
        '200':
          description: Session validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionValidateResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /session/{ephemeral_public_key}:
    delete:
      tags:
        - Session
      summary: Delete session
      description: Terminates an active session
      parameters:
        - $ref: '#/components/parameters/EphemeralPublicKey'
      security:
        - EphemeralKeyAuth: []
      responses:
        '200':
          description: Session deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /encrypt:
    post:
      tags:
        - Encryption
      summary: Store encrypted share
      description: Stores an encrypted Shamir's secret share
      security:
        - EphemeralKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptRequest'
      responses:
        '200':
          description: Share stored successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    put:
      tags:
        - Encryption
      summary: Update encrypted share
      description: Updates an existing encrypted share
      security:
        - EphemeralKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEncryptRequest'
      responses:
        '200':
          description: Share updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEncryptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /encrypt/{contract_address}/{object_id}:
    delete:
      tags:
        - Encryption
      summary: Delete encrypted share
      description: Permanently deletes a stored share
      security:
        - EphemeralKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ContractAddress'
        - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: Share deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /decrypt:
    post:
      tags:
        - Decryption
      summary: Retrieve encrypted share
      description: Retrieves an encrypted share for reconstruction
      security:
        - EphemeralKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecryptRequest'
      responses:
        '200':
          description: Share retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /info:
    get:
      tags:
        - Info
      summary: Get server information
      description: Returns public server information and capabilities
      responses:
        '200':
          description: Server information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfo'

  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Basic health check endpoint
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy

  /ready:
    get:
      tags:
        - Health
      summary: Readiness check
      description: Detailed readiness check with dependencies
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

  /metrics:
    get:
      tags:
        - Health
      summary: Prometheus metrics
      description: Returns metrics in Prometheus format
      produces:
        - text/plain
      responses:
        '200':
          description: Metrics data
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    SessionCreateRequest:
      type: object
      required:
        - signed_message
        - ephemeral_public_key
        - encrypted_payload
      properties:
        signed_message:
          type: string
          description: Base64 encoded signed message
        ephemeral_public_key:
          type: string
          pattern: '^0x[0-9a-fA-F]{130}$'
          description: Ephemeral public key in hex format
        encrypted_payload:
          type: string
          description: Base64 encoded encrypted payload

    SessionCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        session_id:
          type: string
        expires_at:
          type: string
          format: date-time
        server_info:
          $ref: '#/components/schemas/ServerSessionInfo'

    SessionValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        session:
          $ref: '#/components/schemas/SessionDetails'

    SessionDetails:
      type: object
      properties:
        ephemeral_public_key:
          type: string
        user_public_key:
          type: string
        contract:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        remaining_ttl:
          type: integer

    EncryptRequest:
      type: object
      required:
        - ephemeral_public_key
        - contract_address
        - object_id
        - encrypted_share
        - signature
        - threshold_config
      properties:
        ephemeral_public_key:
          type: string
        contract_address:
          type: string
          pattern: '^0x[0-9a-fA-F]{40}$'
        object_id:
          type: string
        encrypted_share:
          type: string
          description: Base64 encoded encrypted share
        signature:
          type: string
        threshold_config:
          $ref: '#/components/schemas/ThresholdConfig'
        metadata:
          type: object
          additionalProperties: true

    EncryptResponse:
      type: object
      properties:
        success:
          type: boolean
        object_id:
          type: string
        version:
          type: integer
        share_stored:
          type: boolean
        storage_proof:
          $ref: '#/components/schemas/StorageProof'

    UpdateEncryptRequest:
      allOf:
        - $ref: '#/components/schemas/EncryptRequest'
        - type: object
          required:
            - previous_version
          properties:
            previous_version:
              type: integer
            update_reason:
              type: string

    UpdateEncryptResponse:
      type: object
      properties:
        success:
          type: boolean
        object_id:
          type: string
        previous_version:
          type: integer
        new_version:
          type: integer
        updated_at:
          type: string
          format: date-time

    DecryptRequest:
      type: object
      required:
        - ephemeral_public_key
        - contract_address
        - object_id
        - signature
      properties:
        ephemeral_public_key:
          type: string
        contract_address:
          type: string
        object_id:
          type: string
        signature:
          type: string
        version:
          type: integer
          nullable: true

    DecryptResponse:
      type: object
      properties:
        success:
          type: boolean
        encrypted_share:
          type: string
        share_index:
          type: integer
        version:
          type: integer
        threshold_info:
          $ref: '#/components/schemas/ThresholdInfo'
        metadata:
          type: object

    ThresholdConfig:
      type: object
      required:
        - total_shares
        - threshold
        - share_index
      properties:
        total_shares:
          type: integer
          minimum: 1
        threshold:
          type: integer
          minimum: 1
        share_index:
          type: integer
          minimum: 1

    ThresholdInfo:
      type: object
      properties:
        total_shares:
          type: integer
        threshold:
          type: integer
        available_servers:
          type: array
          items:
            type: string

    StorageProof:
      type: object
      properties:
        hash:
          type: string
        timestamp:
          type: string
          format: date-time
        server_signature:
          type: string

    ServerInfo:
      type: object
      properties:
        server_public_key:
          type: string
        encryption_public_key:
          type: string
        version:
          type: string
        network:
          type: string
        supported_features:
          $ref: '#/components/schemas/SupportedFeatures'
        server_metadata:
          $ref: '#/components/schemas/ServerMetadata'
        rate_limits:
          $ref: '#/components/schemas/RateLimits'

    ServerSessionInfo:
      type: object
      properties:
        server_public_key:
          type: string
        encryption_public_key:
          type: string
        supported_features:
          type: array
          items:
            type: string

    SupportedFeatures:
      type: object
      properties:
        threshold_modes:
          type: array
          items:
            type: string
        encryption_algorithms:
          type: array
          items:
            type: string
        signature_schemes:
          type: array
          items:
            type: string
        api_version:
          type: string

    ServerMetadata:
      type: object
      properties:
        name:
          type: string
        operator:
          type: string
        location:
          type: string
        uptime:
          type: integer

    RateLimits:
      type: object
      properties:
        requests_per_minute:
          type: integer
        burst_size:
          type: integer

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        timestamp:
          type: string
          format: date-time

    ReadinessResponse:
      type: object
      properties:
        ready:
          type: boolean
        checks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthCheck'
        timestamp:
          type: string
          format: date-time

    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum: [ok, error]
        latency_ms:
          type: integer
        details:
          type: object

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string

    DeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        deleted:
          type: boolean
        object_id:
          type: string
        versions_deleted:
          type: array
          items:
            type: integer

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time

  parameters:
    EphemeralPublicKey:
      name: ephemeral_public_key
      in: path
      required: true
      schema:
        type: string
        pattern: '^0x[0-9a-fA-F]{130}$'

    ContractAddress:
      name: contract_address
      in: path
      required: true
      schema:
        type: string
        pattern: '^0x[0-9a-fA-F]{40}$'

    ObjectId:
      name: object_id
      in: path
      required: true
      schema:
        type: string

  securitySchemes:
    EphemeralKeyAuth:
      type: apiKey
      in: header
      name: X-Signature
      description: Request signature using ephemeral private key

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: Rate limited
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
        X-RateLimit-Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'